<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AluxesWepApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AluxesWepApp.styles.css" asp-append-version="true" />
    <!-- font icons -->
    <link rel="stylesheet" href="~/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
    <link rel="stylesheet" href="~/css/leadmark.css">

</head>
<body>

    <header>
        <!-- page Navigation -->
        <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="assets/imgs/logo.svg" alt="">
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#service">Our Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="components.html" class="ml-4 nav-link btn btn-primary btn-sm rounded">Components</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Of Second Navigation -->
        <!-- Page Header -->
        <header class="header">
            <div class="overlay">
                <h1 class="subtitle">LeadMark Landing Page</h1>
                <h1 class="title">We Are Creative</h1>
            </div>
            <div class="shape">
                <svg viewBox="0 0 1500 200">
                    <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
                </svg>
            </div>
            <div class="mouse-icon"><div class="wheel"></div></div>
        </header>
        <!-- End Of Page Header -->
    </header>




    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted" >
        <div class="container-fluid">
            &copy; 2023 - AluxesWepApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- core  -->
    <script src="~/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="~/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope -->
    <script src="~/vendors/isotope/isotope.pkgd.js"></script>

    <!-- LeadMark-->
    <script src="~/js/leadmark.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
